@media (min-width:64em){

}

@media (min-width:46.25em) and (max-width:63.9375em){
    
}
/* tablet va mobile */
@media (max-width:63.9375em){
    .nav .subnav a{        
        padding: 5px 12px;
    }
    .btn{
        padding: 15px 16px;
    }
    .contact-submit-btn{
        font-size: 17px;
    }
    .contact-form .form-control{
        padding: 15px;
        font-size: 17px;
    }
    .contact-infor{
        line-height: 2;
    }
    .social-list{
        font-size: 48px;
    }
    .footer .social-list a{
        margin: 0 8px;
    }
    .footer .copy-right a{
        padding: 12px 0;
        display: inline-block;
    }
} 
@media (max-width:46.1875em){
    .s-mt-8{
        margin-top: 8px !important;
    }
    .s-full-width,
    .s-col-full{
        width: 100% !important;
    }
    #header{
        overflow: hidden;
    }
    #header .search-btn{
        display: none;
    }
    #header .mobile-menu-btn{
        display: block;
    }
    .nav{
        display: block;
    }
    .nav .subnav{
        position: initial;
        background-color: plum;
    }
    .nav .subnav a{
        color: #333;        
        padding: 5px 42px;
    }
    .nav li a{
        padding: 1px 24px;
    }
    .nav > li{
        display: block;
    }
    .nav > li:first-child{
        display: inline-block;
    }
    .content .member-avt{
        width: 60%;
    }
    .contact-form{
        margin-top: 32px;
    }
}